<div class="wrap">

<div id="icon-plugins" class="icon32"><br /></div><h2>MORPHEUS RESPONSIVE 3D SLIDER</h2><br/>
by <a href="http://www.extendyourweb.com/product/media-plugins-pack/">extendyourweb.com/</a> 
 
 <br/><br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='NEW RESPONSIVE 3D SLIDER' class="button-primary"/>
    </form>
    <br/>
    <form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
      <input name="demo1" type="hidden" id="demo1" value="1">
     <input type='submit' name='' value='NEW RESPONSIVE 3D SLIDER DEMO' class="button-primary"/>
    </form>
   
<hr>



 <table class="wp-list-table widefat fixed pages" cellpadding="8">
    <thead>
    <tr>
    <th id="columnname" class="manage-column column-columnname num" scope="col" width="80px">
    <h3>SLIDER</h3>
    </th>
    <th id="columnname" class="manage-column column-columnname" scope="col" width="350px">
    <h4>Options</h4>
    </th>
    <th id="columnname" class="manage-column column-columnname" scope="col">
    <h4>To insert the morpheus slider write in your pages or your posts the code below:</h4> 
    </th>
    <th id="columnname" class="manage-column column-columnname" scope="col">
    <span>You can also insert the gallery in sidebars using the widget "morpheus".</span> 
    </th>
    <th id="columnname" class="manage-column column-columnname" scope="col">
     <span>To embed this slider directly in templates, copy the following php code:</span> 
    </th>
    <th id="columnname" class="manage-column column-columnname" scope="col">
    <h4>Delete</h4>
    </th>
    </tr>
    </thead>