</table>
<?php
$site_url = get_option( 'siteurl' );
?>

<hr />  

<table style="text-align:center;"><tr><td width="150"><a href="http://www.extendyourweb.com/product/nov-responsive-slider/" target="_blank"><img src="<?php echo plugins_url('', __FILE__); ?>/novabanner.png" /></a></td><td width="2" bgcolor="#666666"></td><td><a href="http://www.extendyourweb.com/product/media-plugins-pack/" target="_blank"><img src="<?php echo plugins_url('', __FILE__); ?>/extendyourweb.jpg" /></a></td></tr><tr valign="top"><td><a href="http://www.extendyourweb.com/product/nov-responsive-slider/" target="_blank">DOWNLOAD NOVA PLUGIN</a><br /><p >Morpheus NOVA plugin, extended version(Music, 2 new effects, 3 new slider modes and more).</p></td><td width="2" bgcolor="#666666"></td><td><a href="http://www.extendyourweb.com/product/media-plugins-pack/" target="_blank">DOWNLOAD MORE PLUGINS</a><p>Now, you can download our 7 best plugins for video and image and enjoy all our creations in your sites.</p></td></tr></table>
</div>